.footer-container{
    min-height: 300px;
    width: 100%;
    background-image: url("../../background_footer.png");
    background-attachment: fixed;
    background-position: left;
    display: flex;
    padding: 25px;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:25px;
}

.footer-logo-container{
    max-width: 500px
}

.footer-logo{
    width:100%;
    height:100%;
    object-fit: contain;
}

.footer-link-subsection{
    max-width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-link-subsection > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-link-section {
    display:flex;
    flex-direction: row;
    gap:10px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}