.info-receta-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-receta-container-card{
    background-color: #F8F9FA;
    border-radius: 25px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info-receta-titulo{
    font-family: 'Modak', cursive;
    font-size: 2.5rem;
}

.info-receta-imagen{
    display: flex;
    flex-direction: row;
}

.info-receta-imagen >img{
width: 100%;
}

.info-receta-descripcion{

}

.info-receta-ingredientes{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    text-align: start;
}

.info-receta-pasos{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    text-align: start;
}

.info-receta-ingredientes-card{
    border: red solid 1px;
    display: flex;
    gap: 5px;
    align-content: flex-start;
    background-color: white;
    min-height:40px;
}