@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.App {
  text-align: center;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-family: "Comfortaa", cursive;
  background-image: url("background_alt.png");
  background-attachment: fixed;
  background-position: left;
  background-size: 100px;
  min-width: 385px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.gourmetic-font{
  font-family: 'Modak', cursive;
}

.main-content-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex: 1;
  max-width: 1000px;
  padding: 30px 5px;
}

.override-opacity{
 opacity: 1 !important;
}

.gourmetic-card{
  background-color: white;
  border: #ECB100 solid 1px;
  border-radius: 25px;
  min-width: 300px;
  padding:5px;
  box-shadow: rgba(236, 177, 0, 0.35) 1.95px 1.95px 2.6px;
}
